streamlit
numpy>=1.23,<1.24  # Compatible with spacy==3.7.5
spacy==3.7.5
thinc==8.1.0
pandas>=1.0
matplotlib
nltk
wordcloud
plotly
altair
en-core-web-sm 
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whlpy3-none-any.whl